*{
    margin: 0px;
    padding: auto;
}
h1{
    font-weight: bold;
    font-size: 100px;
    font-style: italic;
}
h2{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
body{
    position: absolute;
    background-color: #B26400;
    color: white
}
#imagenC{
    width: 100%;
    height: 350px;
    object-position: bottom;
}

#tableDiv {
    background-color: rgb(240, 180, 67);
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    border: 1px solid darkgoldenrod;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:hover {
    background-color: coral;
    border-radius: 5px;
}

th, td {
    border: 5px;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
}

th{
    background-color: #896129;
}

#mapDiv{
    background-color: indigo;
    padding: 30px;
    border: 1px solid darkgoldenrod;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 100px;
}
#mapDiv iframe{
    width: 600px;
    height: 450px;
    border: 0;
}
#experencia{
    margin: 10px;
}
#Monito{
    width: 50px;
    align-items: center;
    position: relative;
}
footer{
    background-color: black;
    width: 100%;
    }    }
