*{
    margin: 0px;
    padding: auto;
}
h1{
    font-weight: bold;
    font-size: 100px;
    font-style: italic;
}
h2{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
body{
    position: absolute;
    background-color: pink;
}
.cafe{
    width: 200px;
    height: 50px;
}