/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B26400;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 1200px;
}

h1 {
    font-weight: bold;
    font-size: 3em; /* Ajustado a em para mejor adaptabilidad */
    font-style: italic;
}

h2 {
    font-weight: bold;
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

#imagenC {
    width: 70%;
    height: auto;
    margin-bottom: 30px;
}

#tableDiv {
    background-color: rgb(240, 180, 67);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border: 1px solid darkgoldenrod;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}

tr:hover {
    background-color: coral;
    border-radius: 5px;
}

th, td {
    border: 1px solid #fff; /* Definido el tipo de borde */
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}

th {
    background-color: #896129;
}

#mapDiv {
    background-color: indigo;
    padding: 30px;
    border: 1px solid darkgoldenrod;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
}

#mapDiv iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

#mapDiv ul {
    list-style-type: none;
}

#experiencia {
    margin: 15px auto;
    padding: 5px;
    width: 80%;
    border: #fff solid 1px;
    border-radius: 10px;
}

#Monito {
    width: 100px;
    height: auto;
    margin: 10px;
}

footer {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
}
textarea{
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 10px;
    color: #896129;
}
#encuesta{
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: #fff solid 2px;
    padding: 10px;
}
#encuesta p{
    font-size: 20px;
    font-weight: bold;
}