/* -----------------------------------------------
/* Cotenedor gris que cubre el plano 
/* ---------------------------------------------- */

.form-container {
    display: flex;    
    justify-content: space-between; 
    align-items: flex-start;
    grid-area: 1 / 2 / 2 / 3;
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    flex: 1; 
    margin-right: 20px;
}


/* --------------------------------------------------- 
/* Sección del carrito de compras
/* -------------------------------------------------- */

.shopping-car {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 0px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    flex: 1;
    display: flex;
    flex-direction: column;
    grid-area: 1 / 3 / 2 / 4;
}

h1 {
    color: black;
    font-weight: 600px;
    font-size: 35px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px; 
}

label {
    font-weight: 500px;
    font-size: 15px;
}

input, select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 15px;
    margin: 10px;
}

.button-add {
    padding: 12px;
    margin-top: 10px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-size: 16px;
    text-align: center; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

/* Botón de Eliminar */
.button-remove {
    background-color: #f54040;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 4px 20px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 5px; /* Espacio para el ícono */
}

.button-remove:hover {
    background-color: #9f2b2b;
}

.general-container {
    width: 98%;
    margin: 10px 10px;
    background-color: #f4f4f4;
    padding: 20px;
    display: grid;
    grid-template-columns: .20fr 1fr .33fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.button-sale {
    padding: 12px;
    margin-top: 10px;
    background-color: #4ae257;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-size: 16px;
    text-align: center; 
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.cantidad-container {
    display: flex; /* Habilita el diseño flexible */
    align-items: center; /* Centra verticalmente los elementos */
    margin-top: 10px; /* Espacio superior */
}

.cantidad-container input {
    margin-right: 10px; /* Espacio entre el input y el botón */
    width: auto; /* Permite que el input se ajuste según su contenido */
    flex: 1; /* Permite que el input tome el espacio disponible */
}
